div:not(:last-child) {
  margin: 0 auto;
  margin-bottom: 24px;
}

.notification-icon,
.notification-btn-icon {
  fill: currentColor;
}

.notification-text {
  margin: 0;
  flex-grow: 1;
}

.notification-btn {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.notification-info, .notification-success, .notification-primary {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 480px;
  padding: 20px;
  font-family: Montserrat;
  color: #fafafb;
  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: 0.5px;
  background-color: #92929d;
  border-radius: 6px;
}

.notification-primary {
  background-color: #f07f2e;
}

.notification-success {
  background-color: #82c43c;
}

.notification-info {
  background-color: #4e75ff;
}

/* == END == */